
.navigation {
    font-size: 3.125vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation img {
    height: 3.125vh;
    margin: 1.5625vh 1.5625vh;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.navigation li a {
    display: block;
    text-align: center;
    padding: 1.5625vh 1.5625vh;
    text-decoration: none;
    height: 100%;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu li {
    float: left;
}


nav ul {
    background-color: #3B5998;
}

nav li a {
        color: white;
}

nav li a:hover {
    background-color: #355089;
}



aside ul {
    background-color: #E9EBEE;
    height: 96vh;
}

aside li a:hover {
    background-color: #F6F7F9;
}

