/*navigation are top, left and right bar*/
#navigation {
    overflow: hidden;
}

.navigation img {
    height: 3.125vh;
    margin: 1.5625vh 1.5625vh;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li a {
    display: block;
    text-align: center;
    padding: 1.5625vh 1.5625vh;
    text-decoration: none;
}


/*specific setting for nav and aside*/
nav ul {
    background-color: #3B5998;
}

nav li a {
    color: white;
}

nav li a:hover {
    background-color: #355089;
}

aside ul {
    background-color: #E9EBEE;
    height: 100%;
}

aside li a:hover {
    background-color: #F6F7F9;
}
