/*left bar*/

#shortcuts {
    float: left;
    width: 12.5%
}

/*right bar*/
#contacts {
    width: 12.5%;
    position: 0 0;
    float: right;
}

aside {
    overflow: hidden;
    font-size: 1.5625vw;
}


aside ul {
    height: 92vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9EBEE;
}

aside li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1.5625vh 1.5625vh;
    text-decoration: none;
    height: 100%;
}


/* Change the link color on hover */

aside li a:hover {
    background-color: #F6F7F9;
}
